{% extends "layout.html" %}

{% block content %}

<div id="dc_chart_div">
</div>

<br /><br />

<div id="gwu_chart_div">
</div>

{% endblock %}

{% block endscript %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Hour', 'Positive', 'Negative'],
          ['9am',  {{dc_data[0][0]}}, {{dc_data[0][1]}}],
          ['12pm', {{dc_data[1][0]}}, {{dc_data[1][1]}}],
          ['7pm',  {{dc_data[2][0]}}, {{dc_data[2][1]}}],
          ['11pm', {{dc_data[3][0]}}, {{dc_data[3][1]}}]
        ]);

        var options = {
          title: 'DC Metro Sentiment',
          vAxis: {title: 'Hour',  titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.BarChart(document.getElementById('dc_chart_div'));
        chart.draw(data, options);

        var data = google.visualization.arrayToDataTable([
          ['Hour', 'Positive', 'Negative'],
          ['9am',  {{gwu_data[0][0]}}, {{gwu_data[0][1]}}],
          ['12pm', {{gwu_data[1][0]}}, {{gwu_data[1][1]}}],
          ['7pm',  {{gwu_data[2][0]}}, {{gwu_data[2][1]}}],
          ['11pm', {{gwu_data[3][0]}}, {{gwu_data[3][1]}}]
        ]);

        var options = {
          title: 'GWU Sentiment',
          vAxis: {title: 'Hour',  titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.BarChart(document.getElementById('gwu_chart_div'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}
